pp {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*allover*/

*{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p,
li,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

section {
  scroll-margin-top: 60px;
}

/* navbars*/

.navbar {
  background: #222;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  padding: 0 20px;
}

.logo {
  margin-left: 30px;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  margin-left: 60%;
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: rebeccapurple;
}

.menu-icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* home */
.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  background: black;
}

.home-text {
  margin-left: 10%;
  flex: 1;
  min-width: 280px;
}

.home-text h1 {
  color: rebeccapurple;
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

.home-text .tagline {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1rem;
}
.home-text .points {
  list-style: none;
  color: #666;
  margin: 1rem 0;
  margin-left: -2.4rem;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: indigo;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  background: rebeccapurple;
}

.socials {
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.socials a:hover {
  transform: scale(1.2);
}

.socials a:nth-child(1) {
  color: #0077b5;
}

.socials a:nth-child(2) {
  color: #E4405F;
}

.socials a:nth-child(3) {
  color: white;
}

.socials a:hover {
  transform: scale(1.2);
}

/* Image Styling */
.home-image {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.profile-pic {
  width: 350px;
  height: 350px;
border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 20px rebeccapurple;
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px white;
}

/*about*/

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem;
  background: black;
}

.about-pic {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rebeccapurple;
  transition: transform 0.2s ease;
  margin-top: -7%;
}

.about-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px white;
}

.about-text {
  margin-top: -10%;
  margin-left: 10%;
  max-width: 600px;
}

.about-text h2 {
  margin-left: 25%;
  color: #999;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #888;
}
.about span{
  color: white;
}

.about-socials {
  margin-left: 30%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.about-socials a:hover {
  transform: scale(1.2);
}

.about-socials a:nth-child(1) {
  color: #0077b5;
}

.about-socials a:nth-child(2) {
  color: #E4405F;
}

.about-socials a:nth-child(3) {
  color: white;
}

.about-socials a:hover {
  transform: scale(1.2);
}
/* skills*/

.skills {
  text-align:center;
  min-height: 100vh;
  padding: 50px 20px;
  background: black;
  
}

.skills h2 {
margin-top: 0;
  font-size: 2rem;
  color: #999;
}

.skills-list {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.skill {
  background: #222;
  padding: 20px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rebeccapurple;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill h3 {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.skill ul {
  padding-left: 18px;
  margin: 0;
}

.skill li {
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: #999;
  text-align: left
}

.skill:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 15px white;
}

/* projects*/

.projects {
  padding: 50px 20px;
  min-height: 80vh;
  background: black;
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #888;
}

.about-projects {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #777;
  margin-bottom: 50px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: #222;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rebeccapurple;
  text-align: left;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card h3 {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.project-link {
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;
  transition: color 0.1s;
}

.project-link:hover {
  color: white;
}
/* contact */
.contact {
  min-height: 50vh;
  margin-top: -10%;
  padding: 50px 20px;
  text-align: center;
  background: black;
}
.contact h5 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #999;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.1rem;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.contact-info .icon {
  margin-right: 10px;
  color: white;
  font-size: 1.2rem;
}

.contact-info a {
  text-decoration: none;
  color: #999;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: rebeccapurple;
}

/* Social Media Links */

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.8rem;
  margin-top: 15px;
}

.social-links a {
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Brand Colors */

.social-links a:nth-child(1) {
  color: #0077b5;
}

.social-links a:nth-child(2) {
  color: #E4405F;
}

.social-links a:nth-child(3) {
  color: white;
}

.social-links a:hover {
  transform: scale(1.2);
}

/*footer*/

.footer {
  background: #222;
  color: #999;
  text-align: center;
  padding: 10px;
}



@media (max-width:768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    border-right: 2px solid rebeccapurple;
    border-bottom: 2px solid rebeccapurple;
    border-bottom-right-radius: 2rem;
    background: #333;
    position: absolute;
    top: 50px;
    margin-left: -20px;
    width: 40%;
    padding: 40px;
    text-align: center;
    gap: 30px;

  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon:hover {
    color: rebeccapurple;
  }

  /* home */

  .home {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-text {
    margin-left: -6%;
  }

  .home-text h1 {
    margin-top: -20px;
    font-size: 2rem;
  }

  .profile-pic {
    margin-top: 22.5%;
    width: 200px;
    height: 200px;
    margin-left: -20px;
  }

  .socials {
    margin-left: 11rem;
  }

  /* about */
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-pic {
    width: 200px;
    height: 200px;
  }

  .about-text {
    margin-top: 1px;
    margin-left: -0%;
  }

  .about-text h2 {
    margin-left: -0%;
  }

  .about-text p {
    margin-top: -30px;
  }
  .about-socials{
    margin-left: 38%;
  }

  /* skills*/
  .skills-list {
    justify-content: center;
    gap: 20px;
  }

  .skills {
    min-height: fit-content;
  }

  .skill {
    width: 180px;
    padding: 15px;
  }

  .projects h2 {
    font-size: 1.6rem;
  }

  .about-projects {
    font-size: 1rem;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-card p {
    font-size: 0.95rem;
  }

  .contact {
    padding: 30px 15px;
  }

  .contact h2 {
    font-size: 1.6rem;
  }

  .contact-info p {
    font-size: 1rem;
  }

  .social-links {
    gap: 15px;
    font-size: 1.5rem;
  }
}